/* style for all pages */

html {
  width: 100vw;
  height: 100vh;
  background-image: url("images/phuchifa.jpg");
  background-size: 110%;
  background-repeat: repeat;
  background-attachment: fixed;
}

@media only screen and (max-width: 1000px) {
  html {background-size: 300%; background-position-x: center;}
}

#root {
  display: flex;
}

h1, h2, h3, h4, h5, p, label {
  font-family: 'Nixie One';
  line-height: 1.5;
}

p {
  font-size: calc(5px + 2vmin);
}

#navbar {
  display: flex;
  justify-content: space-around;
  font-size: calc(7px + 2vmin);
}

/* .statement_font {
  font-family: 'Over the Rainbow';
} */

/* home page */

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  margin: 5%;
  font-size: calc(7px + 2vmin);
  color: black;
}

@media only screen and (min-width: 1200px) {
  .typewriter {
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .1em;
    animation:
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }
}

.profile_photo {
  border-radius: 175px;
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 50px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.all_pages {
  display: flex;
  flex-direction: row;
}

.pages {
  margin-left: 20px;
  margin-right: 20px;
}

.pages:hover
{
  webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  color: #6600ff;
}

#logos {
  flex-direction: row;
}

.logo {
  width: 50px;
  margin: 15px;
}

#linkedin.logo:hover
{
  webkit-transform: rotateZ(-30deg);
  ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}

#github.logo:hover
{
  webkit-transform: rotateZ(30deg);
  ms-transform: rotateZ(30deg);
  transform: rotateZ(30deg);
}

/* about me page */

#aboutme {
  display: flex;
  margin: 3%;
}

@media only screen and (max-width: 1000px) {
  #aboutme {flex-direction: column;}
}

.section_container {
  flex-direction: column;
  max-width: 60%;
  background-color: rgb(208, 233, 265, .4);
  justify-content: center;
  margin-bottom: 30px;;
}

@media only screen and (max-width: 1000px) {
  .section_container {max-width: 100%;}
}

#section {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  font-size: calc(5px + 2vmin);
}

.about_me_photo {
  width: 100%;
  height: auto;
  align-self: center;
}

.photos {
  margin-left: 20px;
}

.statement_font {
  font-family: 'Over the Rainbow';
}

@media only screen and (max-width: 1000px) {
  .photos {margin-left: 0px;}
}

/* style for projects page */

.Section-header {
  display: flex;
  flex-direction: column;
  font-size: calc(7px + 2vmin);
  color: black;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3%;
}

.single_project {
  display: flex;
  justify-content: center;
  background-color: rgb(208, 233, 265, .4);
}

@media only screen and (max-width: 1000px) {
  .single_project {flex-direction: column;}
}

.projects_text {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.project_item {
  align-self: flex-start;
  margin-top: 10%;
  margin-bottom: 3%;
  font-family: 'Over the Rainbow';
  font-size: 40px;
}

.project_description {
  margin-top: 1%;
  margin-bottom: 1%;
}

.demos {
  margin: 5%;
  width: 40%;
}

#link {
  color: black;
}

#link:hover {
  color: #6600ff;
}

@media only screen and (max-width: 1000px) {
  .projects_text, .demos {width: 90%;}
}

.github_space {
  padding-left: 20px;
}

/* style for contact page */

#contact_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Contact {
  align-self: center;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-item {
  width: 100%;
  line-height: 25px;
  font-size: 15px;
}

.submit_button {
  width: 100px;
  align-self: center;
}

/* mobile responsiveness */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .App-header, .section {flex-direction: column; justify-content: center;}
}

/* animations */

@-webkit-keyframes swing
{
    15%
    {
        webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
